<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SwiftKey</title>
  <link rel="stylesheet" href="css\main.css">
</head>
<body>

<header class="header">
  <div class="headeritem">
    <div id="sessiontimediv">
      <form id='feature'>
        <label for="timer">Time</label>
        <div class="selectwrapper">
        <select name="challenge" id="second">
          <option selected value="60">60</option>
          <option value="90">90</option>
          <option value="120">120</option>
          <option value="150">150</option>
          <option value="180">180</option>
        </select>
        </div>
      </form>
    </div>
    
    <div class="change_light_color">
      <div class="colors">
          <input class="colors_input" type="color" >
      </div>
    </div>

    <div class="nighttogglediv">
      <div class="night_mode">
        <div class="toggle_circle"></div>
      </div>
    </div>
    <div class="loginregisterdiv">
      <a href="/login">Login</a>
      <p>/</p>
      <a href="/register">Resgister</a>
    </div>
  </div>

  <div class="linksdiv">
    <a href="/game">GAME</a>
    <!-- <a href="../main.html">Home</a> //already on home-->
    <a id="lessonlink" href="/page">Lessons</a>
    <a href="/dictation">DictationTyping</a>
  </div>

</header>



  <div class="wrapper">

    <input type="text" class="input-field">

    <div class="content-box">

            <div class="typing-text">
              <p></p>
            </div>



      <div class="container">
          <div class="keyboard_wrapp">
              <div class="keyboard_lights"></div>
                  <div class="row">
                        <div class="keys">`</div>
                        <div class="keys">1</div>
                        <div class="keys">2</div>
                        <div class="keys">3</div>
                        <div class="keys">4</div>
                        <div class="keys">5</div>
                        <div class="keys">6</div>
                        <div class="keys">7</div>
                        <div class="keys">8</div>
                        <div class="keys">9</div>
                        <div class="keys">0</div>
                        <div class="keys">-</div>
                        <div class="keys">=</div>
                        <div class="keys backspace_key">Backspace</div>
                  </div>
                  <div class="row">
                        <div class="keys tab_key">Tab</div>
                        <div class="keys">Q</div>
                        <div class="keys">W</div>
                        <div class="keys">E</div>
                        <div class="keys">R</div>
                        <div class="keys">T</div>
                        <div class="keys">Y</div>
                        <div class="keys">U</div>
                        <div class="keys">I</div>
                        <div class="keys">O</div>
                        <div class="keys">P</div>
                        <div class="keys">{</div>
                        <div class="keys">}</div>
                        <div class="keys slash_key">\</div>
                  </div>
                  <div class="row">
                        <div class="keys caps_lock_key">Caps Lock</div>
                        <div class="keys">A</div>
                        <div class="keys">S</div>
                        <div class="keys">D</div>
                        <div class="keys">F</div>
                        <div class="keys">G</div>
                        <div class="keys">H</div>
                        <div class="keys">J</div>
                        <div class="keys">K</div>
                        <div class="keys">L</div>
                        <div class="keys">;</div>
                        <div class="keys">"</div>
                        <div class="keys enter_key">Enter</div>
                  </div>
                  <div class="row">
                        <div class="keys shift_key shift_left">Shift</div>
                        <div class="keys">Z</div>
                        <div class="keys">X</div>
                        <div class="keys">C</div>
                        <div class="keys">V</div>
                        <div class="keys">B</div>
                        <div class="keys">N</div>
                        <div class="keys">M</div>
                        <div class="keys"><</div>
                        <div class="keys">></div>
                        <div class="keys">/</div>
                        <div class="keys">?</div>
                        <div class="keys shift_key shift_right">Shift</div>
                    </div>
                    <div class="row">
                        <div class="keys ctrl_key ctrl_left">Ctrl</div>
                        <div class="keys win_key">Win</div>
                        <div class="keys alt_key alt_left">Alt</div>
                        <div class="keys space_key"></div>
                        <div class="keys alt_key alt_right">Alt</div>
                        <div class="keys">Fn</div>
                        <div class="keys ctrl_key ctrl_right">Ctrl</div>
                    </div>
                  </div>
          </div>
        </div>






      <div class="content">
      
        <ul class="result-details">

          <li class="time">
            <p>Time left : </p>
            <span><b>60</b></span>
          </li>

          <li class="mistake">
            <p>Mistakes : </p>
            <span><b>0</b></span>
          </li>

          <li class="cpm">
            <p>CPM : </p>
            <span><b>0</b></span>
          </li>

          <li class="wpm">
            <p>WPM : </p>
            <span><b>0</b></span>
          </li>

        <button>Restart</button>

        </ul>


      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="javascript\script.js" ></script>

</body>
</html>